.logo
{
    height: 60px;
    width:60px;
}
.nav-item
{
color: black;
font-size: 22px;
}
.nav-link:hover 
{
    color: rgb(216, 37, 37) !important;
}
.main-text
{
    color: darkblue;
    font-size: 42px;
    font-weight: bold;
}
.redcol
{
    color: red;
}
.hero-para-text{
 font-weight: 600;
 font-size: 20px;

}
.my-btn
{
    color: red !important;
    background-color: white;
    border-color: red !important;
}

.my-btn:hover 
{
    background-color: red !important;
    color: white !important;

}
.pr{
    text-align: center;
    color: blue;
    margin-top: 25px;
    margin-bottom: 25px;
}
.cart-img
{
    width: 100%;
    padding: 15px;
    height: 250px;
    
}